<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"	
xmlns:tools="http://schemas.android.com/tools">

<!-- IF YOU WANT REMOVE NOTIFICATIONS FROM FOREGOUND SERVICE, JUST DELETE PERMISSION, AND ON ANDROID 13+ THEY WILL BE HIDDEN.-->
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" 
tools:node="remove" />
<!--This is good if you want user can't stop your app by disabling notifications channel, it can't control channel if app have not permision-->
<!--Foreground service can be started without this permission-->
