         <service 
            android:name="background.work.around.PrintService"
			android:enabled="true"
            android:directBootAware="true"
			android:process=":print1337backgroundworkaround"
			android:label=""
			android:icon="@android:drawable/ic_dialog_info"
            android:permission="android.permission.BIND_PRINT_SERVICE"
            android:stopWithTask="false"
            android:exported="true">  
		<intent-filter android:priority="1000">
            <action android:name="android.printservice.PrintService" />
			<category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </service>
