<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"	
xmlns:tools="http://schemas.android.com/tools">
<!--SAFETY EXAMPLE. IF YOU WANT MORE SAFETY, BUT LESS PERFORMANCE-->
<receiver 
android:name="background.work.around.BootReceiver" 
android:exported="false"
tools:replace="android:exported" />
